body{
    background-color: black;
    color: white;
}
input{
    height: 42px;
    width: 100px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
}
button{
    height: 40px;
    width: fit-content;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}